env/
var/
dist/
build/
sdist/
reports/

public/static
public/media
finish/settings/local.py

.coverage
.idea
.sass-cache
.ropeproject
.sublime-project*

*~
*.pyc
*.pyo
*.sqlite
*.swp
*.orig
*.egg-info