
<article class="small col-sm-6">
	<a href="" alt="" data-sponsor="" rel="" data-tran="post" class="toPost ">
	<figure class="img-wrap">
		<img src="http://static.betazeta.com/www.fayerwayer.com/up/2013/09/2048577203_4b22930522_o1-320x210.jpg">
	</figure>
	<div class="article-body">
		<h2 class="title">BitTorrent anuncia que, gratis y seguro"</h2>
		<p class="excerpt"> la beta privada en labs.bittorrent.com.</p>
	</div>
	</a>
	<ul class="sp-meta">
		<li class="relative-date">
			<span>
				<a href="/author/esteban-zamorano/" data-tran="author_list">Esteban Zamorano</a>
				<time datetime="2013-09-30T23:00:15.000Z" class="ago">hace 5 horas</time>
			</span>
		</li>
		<li class="comments-count">
			<a href="javascript:void(0);">
				<span class="sp-icon icon-export">248</span>
			</a>
		</li>
	</ul>
	<ul class="social-buttons-inline">
		<li>
			<a href="http://twitter.com/jvacx" target="_blank" class="btn-social icon-twitter">Tweet</a>
		</li>
		<li>
			<a href="http://www.facebook.com/jvacx" target="_blank" class="fbc social-btn icon-facebook">Enviar</a>
		</li>
		<li class="close-social">
			<a href="javascript:void(0);" class="social-btn icon-cancel-circle"></a>
		</li>
	</ul>
</article>


