<!-- Jumbotron -->
<div class="jumbotron">
	<h1>Marketing stuff!</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ratione consectetur aliquid praesentium quo delectus blanditiis dolor modi saepe aut. Officiis, a distinctio molestias eum odit sint corporis deleniti at. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
	<p><a class="btn btn-lg btn-success" href="#">Get started today</a></p>
</div>