{% extends "layouts/base.html" %}
{% load static from staticfiles %}
{% block extrahead %}{% endblock %}

{% block container %}

  <!-- MAIN CONTAINER -->
  <div class="container">
    {% include "wall/partials/_nav.html" %}
    {% include "wall/partials/_slider.html" %}

    <!-- MAIN WALL -->
    <div class="row">
      <!-- POSTS -->
      <section class="col-sm-8 posts-wall">
        <div class="row">
          {% for post in posts %}
            {% include "wall/partials/_post.html" %}
          {% endfor %}
        </div>
        <div class="row">
          {% include "wall/partials/_paginate.html" %}
        </div>
      </section><!-- END POSTS -->

      <!-- ANNOUNCEMENT -->
      <section class="col-sm-4 deals-wall">
        <h2>Anuncios video tabla de posiciones aqui</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
      </section><!-- END ANNOUNCEMENT -->
    </div><!-- END MAIN WALL -->
  </div><!-- END MAIN CONTAINER -->

  <!--  GALERY -->
    <div class="container">
      <h3>GALERIAS DE MIMAGENES AQUI</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolorum, molestias, quidem, in optio reprehenderit aliquid id ratione nostrum quae doloribus maiores iste quibusdam eius tempore. Aut facere in voluptas.
    </div>

  <!--  NOTES -->
    <div class="container">
      <h3>TWEET y curiosidades</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolorum, molestias, quidem, in optio reprehenderit aliquid id ratione nostrum quae doloribus maiores iste quibusdam eius tempore. Aut facere in voluptas.
    </div>

    <footer class="container">
        <div class="sponsors">A qui los links de los afiliados</div>
        <div class="information">Aqui la informacion</div>
    </footer>
{% endblock %}
